body, button {
    font-family: "Josefin Sans";
    font-size: 30px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightslategrey;
}

button {
    border-radius: 8px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}                                              

.calculator-container {
    width: 70vh;
    height: 70vh;
    border: 8px solid white;
    border-radius: 8px;

}

.upper-buttons {
    display: flex;
    justify-content: space-around;
}

.upper-buttons .button {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section, 
.second-section, 
.third-section,
.fourth-section  {
    display: flex;
}

.buttons-section>div>button {
    width: 100%; 
    height: 86px;
}

.buttons-section>div>button:hover {
    background-color: orange;
}

.input-section {
    display: flex;
    margin: 8px;
}

.audit {
    flex: 1;
    font-weight: bold;
    border-radius: 8px;
    font-size: 24px;
}

.clear {
    color: red;
    background-color: white;
    font-size: 26px;
}

.clear:hover {
    background-color: black;
}

.number {
    background-color: lightskyblue;
}

.operator {
    background-color: lightgreen;
}

.delete {
    background-color: white;
}

.delete:hover {
    background-color: red;
}