body, button {
    font-family: "Josefin Sans";
    font-size: 32px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightslategrey;
}

button {
    border-radius: 8px;
}

.main-container {
    display: flex;
    justify-content: flex;
    align-items: center;
    height: 100vh;
    background-color: grey;
    flex-direction: column;
}                                              

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 50vh;
    border-radius: 8px;
    padding: 8px;
    border: 2px red;
    background-color: rgb(105, 102, 102);
}

.upper-buttons {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin: 8px;
}

.upper-buttons .button {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section, 
.second-section, 
.third-section,
.fourth-section  {
    display: flex;
    height: 100%;

}

.buttons-section>div>button:hover {
    background-color: orange;
}

.input-section {
    display: flex;
    margin: 8px;
}

.audit {
    flex: 1;
    font-weight: bold;
    border-radius: 8px;
    font-size: 24px;
}

.clear {
    color: black;
    background-color: rgba(217, 105, 105);
    font-size: 26px;
}

.clear:hover {
    background-color: rgb(224, 11, 11);
}

.number {
    background-color: lightskyblue;
}

.operator {
    background-color: lightgreen;
}

.delete {
    background-color: white;
}

.delete:hover {
    background-color: rgb(211, 43, 43);
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* set flex-grow to 1 */
}
  
.buttons-section > div {
    display: flex;
    flex: 1;
}
  
.buttons-section > div > button {
    flex: 1;
    margin: 4px;
}